/**ANIMATIONS**/
@keyframes animatedBackground {
	from { background-position: 0 -1000px; }
	to { background-position: 5000px 1000px; }
}

@keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/**MAIN CONTAINERS**/

body{
  font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}

#main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/**END OF MAIN**/

/**STARTUP SCREEN**/
#startup-container {
  background-image: url('../images/background.gif');
  background-size: contain;
  background-repeat: repeat;
  -webkit-animation: animatedBackground 20s linear infinite;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

#title-area {
  display:block;
  width: 100%;
  text-align: center;
}

.title-center {
  background-image: url('../images/logo-start.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 50%;
  padding: 20% 20% 5%;
  margin: 30% auto 0 auto;
}

@media (min-width: 1200px) {
  .title-center {
    margin: 20% auto 0 auto;
    width: 30%;
  }
}

#title-start {
  border-radius: 3px;
  text-align: center;
  font-size: 14px;
  margin: 0 auto;
}
/*END OF STARTUP SCREEN*/

/*INSTRUCTION SCREEN*/

#instruction-container {
  display: none; /*initial state*/
  background-image: url('../images/instr-bg.jpg');
  background-repeat: repeat-x;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: scroll
}

.instr-header {
  max-width: 100%;
  background-color: #cbc5ea;
  border: 5px #73628a solid;
  border-radius: 10px;
  color: #6e3a53;
  font-size: 40px;
  letter-spacing: 5px;
  font-weight: bolder;
  text-align: center;
  margin: 10px auto 10px;
  padding: 3%;
}


.instr-text{
  background-color: #eaeaea;
  height: 520px;
  border-radius: 10px;
  border: 5px #73628a solid;
  overflow-y: auto;
  margin-bottom: 20px;
}

.instr-text p {
  color: #73628a;
  font-size: 34px;
  text-align: justify;
  margin: 5% 25px 0;
}

.instr-chara {
  background-image: url('../images/image-hokke.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #eaeaea;
  min-height: 610px;
  border: 5px #73628a solid;
  border-radius: 10px;
}

#instr-next {
  background-color: #6e3a53;
  text-align: center;
  font-weight: bold;
  letter-spacing: 10px;
  padding: 25px;
  border-radius: 10px;
  color: #f8f1ff;
}

#instr-next:hover {
  color: #6e3a53;
  background-color: #f8f1ff;
  cursor: pointer;
  border: 2px #6e3a53 solid;
}

/*END OF INSTRUCTION SCREEN*/


/*QUIZ SCREEN*/

#quiz-container{
  display: none;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  background-image: url('../images/quiz-bg.gif');
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 30px;
}

#quiz-chara {
  min-height: 300px;
  max-width: 100%;
  margin: 20px auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#quiz-question {
  max-width: 100%;
  text-align: center;
  background-color: #fff;
  background-color: rgba(255,255,255, .6);
  border: 5px solid #aa4465;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  padding: 2%;
}

.underline{
  text-decoration: underline;
}

#quiz-choices {
  margin-top: 20px;
}

#quiz-choices .choice{
  margin: 10px auto;
  text-align: center;
  border-style: solid;
  border-width: thin;
  max-width: 50%;
  cursor: pointer;
  padding: 10px;
}

#quiz-next {
  display: none;
  background-color: #aa4465;
  text-align: center;
  font-weight: bold;
  letter-spacing: 10px;
  border-radius: 10px;
  color: #edf0da;
  padding: 10px;
  margin: 50px auto 0;
  max-width: 35%;
}

#quiz-next:hover {
  color: #aa4465;
  background-color: #f0dfad;
  cursor: pointer;
  border: 2px #edf0da solid;
}

/*END OF QUIZ SCREEN */

/*RESULTS SCREEN*/
#results-container {
  display: none;
  background-image: url('../images/background.gif');
  background-size: contain;
  background-repeat: repeat;
  animation: animatedBackground 20s linear infinite;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  text-align: center;
}

#scorecard {
  max-width:100%;
  margin: 10px auto 0;
}

#score-percentage {
  font-size: 48px;
  font-weight: bolder;
  padding: 10%;
  border-radius: 20px;
  -webkit-animation: pulsate 5s ease-out;
  margin: 100px auto 0;
  max-width: 40%;
  color: #5f5aa2;
}

#score {
  padding: 5%;
  font-size: 24px;
  margin: 0 auto;
  color: #26547c;
}

#view-event-button, #return-title{
  background-color: #aa4465;
  text-align: center;
  font-weight: bold;
  letter-spacing: 10px;
  border-radius: 10px;
  color: #edf0da;
  padding: 10px;
  margin: 25px auto 0;
  max-width: 30%;
  cursor: pointer;
}

#view-event-button{
  display: none;
}

/*END OF RESULTS SCREEN*/

/*EVENT SCREEN*/

#event-container {
  display: none;
  background-image: url('../images/background.gif');
  background-size: contain;
  background-repeat: repeat;
  -webkit-animation: animatedBackground 20s linear infinite;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  text-align: center;
}

#chara-pic {
  min-width: 100%;
  min-height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
}

#dialogue-window {
  width: 100%;
  padding: 5% 0;
  position: relative;
  margin: 40% auto 10%;
  opacity: 0.75;
}

#dialogue {
  font-size: 30px;
  z-index: 5;
  margin: 0 auto;
  color: #26547c;
  opacity: 1;
  width: 50%;
}

#next-frame {
  z-index: 10;
  font-size: 24px;
  color: #dd7596;
  margin-top: 15px;
  cursor: pointer;
}

/*END OF EVENT SCREEN*/