/**ANIMATIONS**/
@keyframes animatedBackground {
	from { background-position: 0 -1000px; }
	to { background-position: 5000px 1000px; }
}

@keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/**MAIN CONTAINERS**/

body{
  font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif
}

#main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/**END OF MAIN**/

/**STARTUP SCREEN**/
#startup-container {
  background-image: url('../images/background.gif');
  background-size: contain;
  background-repeat: repeat;
  -webkit-animation: animatedBackground 20s linear infinite;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

#title-area {
  display:block;
  width: 100%;
  text-align: center;
}

.title-center {
  background-image: url('../images/logo-start.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 50%;
  padding: 20% 20% 5%;
  margin: 30% auto 0 auto;
}

@media (min-width: 1200px) {
  .title-center {
    margin: 20% auto 0 auto;
    width: 30%;
  }
}

#title-start {
  border-radius: 3px;
  text-align: center;
  font-size: 14px;
  margin: 0 auto;
}
/*END OF STARTUP SCREEN*/

/*INSTRUCTION SCREEN*/

#instruction-container {
  display: none; /*initial state*/
  background-image: url('../images/instr-bg.jpg');
  background-repeat: repeat-x;
  background-size: cover;
  width: 99%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.instr-header {
  max-width: 100%;
  background-color: #CBC5EA;
  border: 5px #73628A solid;
  border-radius: 10px;
  color: #6E3A53;
  font-size: 40px;
  letter-spacing: 5px;
  font-weight: bold;
  text-align: center;
  margin: 10px auto 0;
  padding: 3%;
}

.instr-col-left{
  float: left;
  width: 55%;
  background-color: #EAEAEA;
  margin: 10px auto;
  min-height: 700px;
  border-radius: 10px;
  border: 5px #73628A solid;
}

.instr-col-left p {
  color: #73628A;
  font-size: 36px;
  text-indent: 5%;
  margin: 5% 10px 0;
}


.instr-col-right {
  float: right;
  width: 40%;
}

.instr-chara {
  background-image: url('../images/image-hokke.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #EAEAEA;
  min-height: 610px;
  padding: 0 6% 0;
  margin: 10px auto 30px;
  border: 5px #73628A solid;
  border-radius: 10px;

}

#instr-next {
  background-color: #6E3A53;
  text-align: center;
  font-weight: bold;
  letter-spacing: 10px;
  padding: 5%;
  border-radius: 10px;
  color: #F8F1FF;
}

#instr-next:hover {
  color: #6E3A53;
  background-color: #F8F1FF;
  cursor: pointer;
  border: 2px #6E3A53 solid;
}

/*END OF INSTRUCTION SCREEN*/


/*QUIZ SCREEN*/

#quiz-container{
  display: none;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  background-image: url('../images/quiz-bg.gif');
  background-size: cover;
  background-position: center;
  width: 100%;
}

#quiz-chara {
  max-height: 50%;
  max-width: 30%;
  padding: 15%;
  margin: 20px 0 5% 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
}

.quiz-qa-area {
  float: right;
  max-height: 50%;
  max-width: 60%;
  margin: 20px 5% 0 0;
}

#quiz-question {
  padding-bottom: 10px;
}

.underline{
  text-decoration: underline;
}

#quiz-choices .choice{
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  border-style: solid;
  border-width: thin;
  max-width: 30%;
  cursor: pointer;
}

#quiz-next {
  display: none;
  background-color: #AA4465;
  text-align: center;
  font-weight: bold;
  letter-spacing: 10px;
  border-radius: 10px;
  color: #EDF0DA;
  padding: 10px;
  margin: 25px auto 0;
  max-width: 30%;
}

#quiz-next:hover {
  color: #AA4465;
  background-color: #F0DFAD;
  cursor: pointer;
  border: 2px #EDF0DA solid;
}

/*END OF QUIZ SCREEN */

/*RESULTS SCREEN*/
#results-container {
  display: none;
  background-image: url('../images/background.gif');
  background-size: contain;
  background-repeat: repeat;
  animation: animatedBackground 20s linear infinite;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  text-align: center;
}

#scorecard {
  max-width:100%;
  margin: 10px auto 0;
}

#score-percentage {
  font-size: 48px;
  font-weight: bolder;
  padding: 10%;
  border-radius: 20px;
  -webkit-animation: pulsate 5s ease-out;
  margin: 100px auto 0;
  max-width: 40%;
  color: #5F5AA2;
}

#score {
  padding: 5%;
  font-size: 24px;
  margin: 0 auto;
  color: #26547C;
}

#view-event-button, #return-title{
  background-color: #AA4465;
  text-align: center;
  font-weight: bold;
  letter-spacing: 10px;
  border-radius: 10px;
  color: #EDF0DA;
  padding: 10px;
  margin: 25px auto 0;
  max-width: 30%;
  cursor: pointer;
}

#view-event-button{
  display: none;
}

/*END OF RESULTS SCREEN*/

/*EVENT SCREEN*/

#event-container {
  display: none;
  background-image: url('../images/background.gif');
  background-size: contain;
  background-repeat: repeat;
  -webkit-animation: animatedBackground 20s linear infinite;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  text-align: center;
}

#chara-pic {
  min-width: 100%;
  min-height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
}

#dialogue-window {
  width: 100%;
  padding: 5% 0;
  position: relative;
  margin: 40% auto 10%;
  opacity: 0.75;
}

#dialogue {
  font-size: 30px;
  z-index: 5;
  margin: 0 auto;
  color: #26547C;
  opacity: 1;
  width: 50%;
}

#next-frame {
  z-index: 10;
  font-size: 24px;
  color: #DD7596;
  margin-top: 15px;
  cursor: pointer;
}

/*END OF EVENT SCREEN*/